@import '../../../core/colors';

#delete-member {
  .modal-header {
    border-bottom: none !important;
  }
  .modal-body {

    .container-fluid {

      .paragraph {
        font-family: "Open Sans";
        font-size: 25px;
      }

      .modal-button-deny {
        background-color: $leaderboard-white !important;
        color: $leaderboard-fern;
        border: 1px solid $leaderboard-fern !important;
      }

      .modal-button-confirm {
        background-color: $leaderboard-fern !important;
        color: $leaderboard-white;
      }
    }
  }
}
