<nav id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="header-container">
    <a ui-sref="header.main"> <img src="assets/img/pernix_logo.png" class="company-logo" alt="Pernix"/> </a>
    <h1 class="header-text"> Leaderboard </h1>
    <div class="header-options row">
      <a><img ng-hide="vm.getSessionActive()" src="assets/img/user-icon.png" class="header-icon login pull-right" alt="admin" ng-click="vm.showLoginModal()"/></a>
      <a><img ng-show="vm.getSessionActive()" src="assets/img/user-icon-active.png" class="header-icon login pull-right" alt="admin" ng-click="vm.showLogoutModal()"/></a>
      <a><img src="assets/img/activities-icon-focus.png" class="header-icon pull-right" alt="presentation mode" ng-click="vm.goToActivityList()"/></a>
      <a><img src="assets/img/list-icon.png" class="header-icon pull-right" alt="main view" ng-click="vm.goToMainView()"/></a>
      <a><img src="assets/img/presentation-mode-icon.png" class="header-icon pull-right" alt="presentation mode" ng-click="vm.goToPresentationMode()"/></a>
    </div>
  </div>
</nav>
<hr class="divider">
<div ui-view class="fluid-container"> </div>
