@import '../core/colors';

#header {
  border: none;

  .header-container {
    position: relative;
    background-color: white;

    .company-logo {
      height: auto;
      width: 100px;
      margin-top: 10px;
      margin-left: 5%;
      padding: 5px;
    }

    .header-text {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      font-family: "Open Sans";
      font-size: 3em;
      cursor: default;
    }

    .header-options {
      width: 30%;
      bottom: 5px;
      position: absolute;
      right: 5%;
      padding: 5px;

      .header-icon {
        height: 20px;
        width: auto;
        margin: 5px;

        &.login {
          height: 30px;
          margin-left: 20px;
          margin-top: -1px;
        }
      }
    }
  }
}

.divider {
  width: 95%;
  border: 1px solid $light-gray;
}
