@import "../core/colors";

.modal-headline {
  margin: 10px;
  font-family: "Open Sans";
  font-size: 30px;
  color: $leaderboard-gray;
  padding-left: 20px;
}

.modal-button {
  border-radius: 20px !important;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  -o-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal-open .modal {
  outline: none !important;
}
