<div id="edit-activity">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" close-modal>&times;</a>
    <h1 class="modal-header-text">Edit activity</h1>
    <h1 class="divider"></h1>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <input class="form-control input-name-member col-sm-6" ng-model="vm.activityName" placeholder="Name of the Activity"></input>
        </div>
        <div class="col-sm-6">
          <div class="rail-select">
            <div class="select-side">
              <i class="glyphicon glyphicon-menu-down select-icon"></i>
            </div>
            <select class="form-control" title="InCharge" 
                    ng-options="inCharge.name + ' ' +inCharge.lastName for inCharge in vm.members track by inCharge.id"
                    ng-model="vm.inCharge">            
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="rail-select">
            <div class="select-side">
              <i class="glyphicon glyphicon-menu-down select-icon"></i>
            </div>
             <select class="form-control" title="Activity" 
                     ng-options="frequency.name for frequency in vm.frequencies track by frequency.idFrequency"
                     ng-model="vm.frequency">                    
             </select>
          </div>
        </div>
        <div class="col-sm-3 date-wrapper">
          <div class="row">
            <div class="col-sm-9 div-input-date">
              <input class="form-control input-date" ng-model="vm.startDate" placeholder="Start date"></input>
            </div>
            <div class="col-sm-3 div-img-date">
              <a><img src="assets/img/calendar.png" class="img-date"/></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 div-points">
          <div class="row">
            <div class="col-sm-3 div-points-text">
              <p class="points-text">Points</p>
            </div>
            <div class="col-sm-3 div-img-points">
              <a><img src="assets/img/less_points.png" class="img-points" ng-click="vm.substractPoints()"/></a>
            </div>
            <div class="col-sm-3 div-input-points">
              <input ng-model="vm.points" class="form-control input-points" ng-model="vm.points"></input>
            </div>
            <div class="col-sm-3 div-img-points">
              <a><img src="assets/img/more_points.png" class="img-points" ng-click="vm.addPoints()"/></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <textarea class="form-control text-description" ng-model="vm.description" placeholder="Description(Optional)"></textarea>
      </div>
      <div class="btn-modal">
        <button type="button" class="btn-lg btn-success btn-block modal-button"  ng-click="vm.editActivity()">Edit activity</button>
      </div>
    </div>
  </div>
</div>
