@import '../core/colors';

#activities {
  cursor: default;

  .gray-row {
    background-color: $leaderboard-snow;
    border-top: 1px;
  }

  .white-row {
    background-color: white;
  }

  .table {
    &.push-bottom {
      margin-top: 1%;
    }
  }

  .table-header {
    background-color: $leaderboard-danube;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;

    .header-element {
      text-align: center;
      border-bottom: 0px;
    }

    .points-header {
      padding-left: 3%;
    }
  }

  .table-row {
    height: 60px;

    .table-element {
      border-top: 0px;
      border-bottom: 0px;
      padding-top: 1%;

      &.center {
        text-align: center;
      }

      &.left {
        text-align: left;
        padding-left: 4%;
      }

      .points-number {
        margin-left: 27%;
      }

      .btn-detail {
        color: $leaderboard-ship-grey;
        font-weight: 600;
        cursor: pointer;
      }

      .buttons-container {
        margin-left: -20%;
      }
    }

    .detail-text {
      text-align:left;
      padding-left: 4%;
    }
  }

  .active-detail {
    color: $leaderboard-curious-blue;
    font-weight: 600;
    cursor: pointer;
  }
}
