<div id="activities" class="container">
  <div id = "table-icons">
    <p><input class="table-search" ng-model="search" type="text" placeholder="Search activities"></p>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover push-bottom">
      <thead class="table-header table-element">
        <tr>
          <th class="col-md-3 header-element">Activity</th>
          <th class="col-md-2 header-element points-header">Points</th>
          <th class="col-md-3 header-element">Frequency</th>
          <th class="col-md-3 header-element">Start date</th>
          <th class="col-md-1 header-element"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" ng-repeat="activity in vm.activities | filter: search">
          <td class="table-element center">{{activity.name}}</td>
          <td id="table-icons" class="table-element center">
            <div class="row" center>
              <div ng-show="vm.sessionActive()" class="table-trash-icon col-xs-1" ng-click="vm.deleteActivity(activity)"></div>
              <div ng-show="vm.sessionActive()" class="table-pencil-icon col-xs-1 col-sm-offset-1" ng-click="vm.editActivity(activity)" ></div>
              <div class="table-element center">{{activity.points}}</div>
            </div>
          </td>
          <td class="table-element center">{{activity.frequency}}</td>
          <td class="table-element center">{{activity.startDate}}</td>
          <td class="table-element center" data = "{{activity}}" row-index = "{{$index}}" activityID = "{{activity.idActivity}}" clicked="false" activity-detail><span class="glyphicon glyphicon-menu-down btn-detail"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
