@import '../../../core/colors';

#add-activity{

  .modal-header-text {
    margin: 10px;
    font-family: "Open Sans";
    font-size: 40px;
    color: $leaderboard-gray;
    padding-left: 2%;
  }

  .input-name-member {
    margin-bottom: 8%;
  }

  .date-wrapper {
    margin-bottom: 3%;
    font-family: "Open Sans";

    .img-date {
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }

    .div-input-date {
      padding-right: 0px;
    }

    .div-img-date {
      padding: 0px 20px 0px 0px;
    }
  }

  .div-points {
    padding: 0px;
    margin-bottom: 3%;

    .points-text {
      width: 40px;
      margin-top: 5px;
      color: $leaderboard-gray;
      font-size: 18px;
      font-family: "Open Sans";
    }

    .div-points-text {
      margin-left: 50px;
      padding: 0px;
      cursor: default;
    }

    .div-img-points {
      padding: 0px;
      margin: 0px;
      width: 25px;
    }

    .div-input-points {
      padding: 0px;
      width: 45px;
    }

    .img-points {
      margin: 5px 1px 0px 1px;
      width: 20px;
      height: 20px;
    }
  }

  .rail-select {
    width: 100%;

    select {
      cursor: pointer;
      border: solid 1px grey;
      border-radius: 10px;
      font-size: 16px;
      color: gray;
      height: 35px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      &:focus {
        outline: none;
        box-shadow: none;
        border: solid 1px grey;
      }
    }

    .select-side {
      width: 40px;
      position: absolute;
      background-color: $leaderboard-gray;
      height: 35px;
      left: 88%;
      border-radius: 0px 10px 10px 0px;
      border-right: solid 1px gray;
      border-top: solid 1px gray;
      border-bottom: solid 1px gray;
      pointer-events: none;

      &:before {
        border-left: solid 1px lightgrey;
        content : "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 1px;
      }

      i {
        left: 30%;
        top: 12px;
      }

    }
  }

  .text-description {
    width: 100%;
    height: 100px;
    max-width: 100%;
    max-height: 100px;
  }
  .select-icon {
    color: white;
  }

  .divider {
    width: 100%;
  }

  .modal-header {
    border-bottom: 0px;
  }

  .btn-modal {
    margin-top: 50px;
  }

  .modal-button {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
}
