#login {
  .modal-body {
    .container-fluid {
      .form-group {
        .login-input {
          border-radius: 17px !important;
          background-color: #dadada;
          border-color:#dadada;
        }

        .login-label {
          font-family: "Open Sans";
          font-size: 17px;
          padding-left:15px;
        }
      }
    }
  }
}
