<div id="login">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" close-modal>&times;</a>
    <h4 class="modal-title modal-headline">Welcome!</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form ng-submit="vm.loginSession()">
        <div class="form-group">
          <label class="login-label" for="username">Username</label>
          <input id="username" ng-model="vm.username" class="form-control login-input">
        </div>
        <div class="form-group">
          <label class="login-label" for="password">Password</label>
          <input id="password" type="password" ng-model="vm.password" class="form-control login-input">
        </div>
        <p class="text-center">
          <a href="#"> Forgot your password? </a>
        </p>
        <button class="btn-lg btn-success btn-block modal-button">Log In</button>
      </form>
    </div>
  </div>
</div>
