#register {

  .modal-body {
    .container-fluid {
      .row {
        .photo-preview {
          margin-top: 60px;

          .photo {
            background-position: center center;
            background-repeat: no-repeat;
            background-image: "img/user-icon.png";
            background-size: cover;
            height: 0;
            padding-bottom: 100%;
            position: relative;
            width: 100%;
          }
        }

        .member-data .leaderboard-label {
          color: $leaderboard-gray;
        }
      }
    }
  }
}
