<div id="register">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" close-modal>&times;</a>
    <h4 class="modal-title modal-headline">Add new member</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <div class="photo-preview row">
              <div class="photo img-responsive img-circle" leaderboard-image-preview> </div>
            </div>
        </div>
        <div class="col-md-9">
          <form class = "member-data">
            <div class="form-group">
              <label class="leaderboard-label">Name</label>
              <input ng-model="vm.name" class="form-control">
            </div>
            <div class="form-group">
              <label class="leaderboard-label">Lastname</label>
              <input ng-model="vm.lastname" class="form-control">
            </div>
            <div class="form-group">
              <label class="leaderboard-label">Picture URL</label>
              <input ng-model="vm.photoUrl" class="form-control">
            </div>
            <div class="form-group">
              <label class="leaderboard-label">Job Position</label>
              <select class="form-control" title="JobPosition" 
                     ng-options="jobPosition.name for jobPosition in vm.jobPositions track by jobPosition.name"
                     ng-model="vm.jobPosition">                    
              </select>
            </div>
            <div class="form-group">
              <div>
                <label class="leaderboard-label">Role</label>
                <select class="form-control" title="Role" 
                     ng-options="role.name for role in vm.roles track by role.name"
                     ng-model="vm.role">                    
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-success btn-block modal-button" ng-click="vm.addMember()">Add member</button>
      </div>
    </div>
  </div>
</div>
