@import '../../../core/colors';

#edit-member {

  .modal-header-text {
    margin: 10px;
    font-family: "Open Sans";
    font-size: 40px;
    color: $leaderboard-gray;
    padding-left: 2%;
  }

  .divider {
    width: 100%;
    padding-bottom: 0px;
  }

  .modal-header {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .modal-body {
    padding-bottom: 5px;
  }

  .modal-button {
    margin: 15px 80px;
    width: 70%;
  }

  .pencil-icon {
    background-image: url('../assets/img/edit.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 320px 5px;
  }

  .form-control {
    color: $leaderboard-gray;
  }

  .form-group {
    padding-bottom: 10px;
  }

  .photo {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: "img/user-icon.png";
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    padding-right: 50px;
  }

  .input-wrapper {
    padding-top: 5px;
  }

  .btn-wrapper {
    padding: 10px 0;
  }

  .col-md-offset-1 {
    margin: 0 20px;
    padding: 0 20px;
  }
}
