<div id="edit-member">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" close-modal>&times;</a>
    <h1 class="modal-header-text">Edit member</h1>
    <h1 class="divider"></h1>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
              <div class="photo-preview row">
                <div class="photo img-responsive img-circle" leaderboard-image-preview> </div>
              </div>
            </div>
        </div>
        <div class="col-md-8 input-wrapper">
          <form class = "member-data">
            <div class="form-group">
              <input ng-model="vm.employeeName" class="form-control pencil-icon" placeholder="Full name">
            </div>
             <div class="form-group">
              <label class="leaderboard-label">Job Position</label>
              <select class="form-control" title="JobPosition" 
                     ng-options="jobPosition.name for jobPosition in vm.jobPositions track by jobPosition.name"
                     ng-model="vm.jobPosition">                    
              </select>
            </div>
            <div class="form-group">
              <input ng-model="vm.photoUrl" class="form-control pencil-icon" placeholder="Picture URL">
            </div>
          </form>
        </div>
      </div>
      <div class="btn-wrapper">
        <button type="button" class="btn-lg btn-success btn-block modal-button" ng-click="vm.editMember()">Done</button>
      </div>
    </div>
  </div>
</div>
