#logout {
  .modal-header {
    border-bottom: none !important;
  }
  .modal-body {
    .container-fluid {
      .paragraph {
        font-family: "Open Sans";
        font-size: 25px;
      }
      .modal-button-reverse {
        background-color: $leaderboard-white !important;
        color: $leaderboard-fern;
        border: 1px solid $leaderboard-fern !important;
      }
      .btn-success {
         border: 1px solid $leaderboard-fern;
        }
      }
    }
}
