<div id="logout">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" close-modal>&times;</a>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <p class="text-center paragraph">Are you sure you want to log out?</p>
      <div class="col-md-6">
        <button class="btn-lg btn-success btn-block modal-button" ng-click="vm.logoutSession()">Yes</button>
      </div>
      <div class="col-md-6">
        <button class="btn-lg btn-success btn-block modal-button modal-button-reverse" close-modal>No</button>
      </div>
    </div>
  </div>
</div>
