@import '../core/colors';

#table-icons{
  .table-search {
    font-family: "Open Sans";
    border-radius: 15px;
    border-width: 1px;
    border-color: $leaderboard-ship-grey;
    font-style: italic;
    width: 20%;
    height: 30px;
    background-image: url('../assets/img/search.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 10px 5px;
    text-align: left;
    text-indent: 30px;
    font-style: normal;
  }

  .table-trash-icon {
    background-image: url('../assets/img/delete.png');
    background-repeat: no-repeat;
    background-size: 15px 20px;
    width: 15px;
    height: 20px;
    cursor: pointer;
  }

  .table-trash-icon:hover {
    background-image: url('../assets/img/delete_focus.png');
    width: 15px;
    height: 20px;
    cursor: pointer;
  }

  .table-pencil-icon {
    background-image: url('../assets/img/edit.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .table-pencil-icon:hover {
    background-image: url('../assets/img/edit_focus.png');
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .table-button-down {
    color: $leaderboard-ship-grey;
  }

  .table-button-up {
    color: $leaderboard-curious-blue;
  }

  .member-buttom {
    float: right;
    width: auto;
    height: 30px;
  }

  .activity-buttom {
    float: right;
    width: auto;
    height: 30px;
    margin-right:3%;
  }
}

#main {

  .main-add-group-points {
    font-family: "Open Sans";
    color: $leaderboard-curious-blue;
    padding-left: 20px;
    text-decoration: underline;
    font-style: normal;
  }

  .img-add-group-points {
    width: 16px;
    height: 16px;
  }
}

#main-table {
  cursor: default;

  td {
    vertical-align: middle;
    text-align: center;
  }

  .table-td-border-gold {
    background-image: -webkit-linear-gradient(bottom, $leaderboard-saffron 0%, $leaderboard-oasis 100%);
    background-image: -moz-linear-gradient(bottom, $leaderboard-saffron 0%, $leaderboard-oasis 100%);
    background-image: -ms-linear-gradient(bottom, $leaderboard-saffron 0%, $leaderboard-oasis 100%);
    background-image: -o-linear-gradient(bottom, $leaderboard-saffron 0%, $leaderboard-oasis 100%);
    background-image: linear-gradient(bottom, $leaderboard-saffron 0%, $leaderboard-oasis 100%);
  }

  .table-td-border-silver {
    background-image: -webkit-linear-gradient(top, $leaderboard-lily 0%, $leaderboard-whisper 100%);
    background-image: -moz-linear-gradient(top, $leaderboard-lily 0%, $leaderboard-whisper 100%);
    background-image: -ms-linear-gradient(top, $leaderboard-lily 0%, $leaderboard-whisper 100%);
    background-image: -o-linear-gradient(top, $leaderboard-lily 0%, $leaderboard-whisper 100%);
    background-image: linear-gradient(top, $leaderboard-lily 0%, $leaderboard-whisper 100%);
  }

  .table-td-border-bronze {
    background-image: -webkit-linear-gradient(bottom, $leaderboard-christine 0%, $leaderboard-dust-storm 100%);
    background-image: -moz-linear-gradient(bottom, $leaderboard-christine 0%, $leaderboard-dust-storm 100%);
    background-image: -ms-linear-gradient(bottom, $leaderboard-christine 0%, $leaderboard-dust-storm 100%);
    background-image: -o-linear-gradient(bottom, $leaderboard-christine 0%, $leaderboard-dust-storm 100%);
    background-image: linear-gradient(bottom, $leaderboard-christine 0%, $leaderboard-dust-storm 100%);
  }

  .table-photo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .table-photo-firstPosition {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .table-points {
    font-weight: bold;
  }

  .table-text-number {
    color: $leaderboard-ship-grey;
    font-weight: bold;
  }

  .table-add-points {
    text-align: left;
  }

  .add-points {
    font-family: "Open Sans";
    color:$leaderboard-tahiti-gold;
    text-decoration: underline;
  }

  .img-add-points {
    width: 16px;
    height: 16px;
  }

  .table-td {
    text-align: center;
    width: 1%;
  }

  .table-td-info {
    text-align: left;

    .table-text-position {
      color: $leaderboard-ship-grey;
      font-style: italic;
    }

    .table-text-name {
      font-weight: bold;
      display: block;
    }
  }

  .table-borderless td {
      border: none;
  }

  .sub-table-activity {
    text-align: left;
    color: $leaderboard-ship-grey;

    ul.leaders {
      max-width: 43em;
      padding: 0;
      overflow-x: hidden;
      list-style: none
    }

    ul.leaders li:before {
      float: left;
      width: 0;
      white-space: nowrap;
      content:
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
    }

    ul.leaders span:first-child {
      padding-right: 0.33em;
      background: white
    }

    ul.leaders span + span {
      float: right;
      padding-left: 0.33em;
      background: white
    }
  }
}
