<div id="main" class="container">
  <div id="table-icons" class="div-search">
    <input class="table-search" ng-model="search" type="text" placeholder="Buscar">
    <a class="main-add-group-points" ng-show="vm.sessionActive()" ng-click="vm.showAddGroupPoints()">
      Add Group Points <img src="assets/img/add_blue.png" class="img-add-group-points"/>
    </a>
    <a>
      <img class="member-buttom" ng-show="vm.sessionActive()" src="assets/img/new_member.png" ng-click="vm.showAddMember()"/>
    </a>
    <a>
      <img class="activity-buttom" ng-show="vm.sessionActive()" src="assets/img/new_activity.png" ng-click="vm.showAddActivity()"/>
    </a>
  </div>
  </br>
  <div>
    <table id="main-table" class="table table-condensed">
      <tbody>
        <tr ng-repeat-start="employee in vm.employees | filter: search |orderBy :'-totalPoints'">
          <td class=" {{vm.borderClasses[vm.employees.indexOf(employee)]}} table-td"></td>
          <td class="table-td">
            <span class="table-text-number">{{vm.employees.indexOf(employee)+1}}</span>
          </td>
          <td class="table-td-photo col-md-1">
            <img src={{employee.photoUrl}} class="{{vm.photoSize(vm.employees.indexOf(employee))}}"/>
          </td>
          <td class="table-td-info col-md-3">
            <span class="table-text-name">{{employee.name}} {{employee.lastName}}</span>
            <span class="table-text-position">{{employee.jobPosition}}</span>
          </td>
          <td id="table-icons">
            <div ng-show="vm.sessionActive()" class="table-trash-icon" ng-click="vm.deleteMember(employee)"></div>
          </td>
          <td id="table-icons">
            <div ng-show="vm.sessionActive()" class="table-pencil-icon"  ng-click="vm.editEmployee(employee)"></div>
          </td>
          <td class="col-md-4">
            <span class="table-points">{{employee.totalPoints}} pts</span>
          </td>
          <td class="table-add-points col-md-2">
            <a class="add-points" ng-show="vm.sessionActive()" ng-click="vm.showAddPoints(employee)">
              Add Points<img src="assets/img/add_orange.png" class="img-add-points"/>
            </a>
          </td>
          <td id="table-icons" class="table-td">
            <a>
              <i class="glyphicon" ng-class="{'glyphicon-chevron-down table-button-down':vm.showMore($index),'glyphicon-chevron-up table-button-up':!vm.showMore($index)}" ng-click="vm.setShowMore($index)"></i>
            </a>
          </td>
        </tr>
        <tr ng-repeat-end ng-hide="vm.showMore($index)">
          <td colspan="3"></td>
          <td colspan="4">
            <table class="table table-borderless">
              <tbody>
                <tr ng-repeat="activity in employee.activities">
                  <td class="sub-table-activity col-md-8">
                    <ul class="leaders">
                      <li>
                        <span>{{activity.name}}</span>
                        <span>{{activity.points}}</span>
                      </li>
                    </ul>
                  </td>
                  <td class="col-md-1"></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
