@import '../../../core/colors';

#add-group-points {

  .modal-header-text {
    margin: 10px;
    font-family: "Open Sans";
    font-size: 40px;
    color: $leaderboard-gray;
    padding-left: 2%;
  }

  .divider {
    width: 100%;
  }

  .modal-header {
    border-bottom: 0px;
  }

  .modal-body {
    margin-left: 5%;
    margin-right: 5%;
  }

  .rail-select {
    width: 100%;

    select {
      cursor: pointer;
      border: solid 1px grey;
      border-radius: 10px;
      font-size: 16px;
      color: gray;
      height: 35px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      &:focus {
        outline: none;
        box-shadow: none;
        border: solid 1px grey;
      }
    }

    .select-side {
      width: 40px;
      position: absolute;
      background-color: $leaderboard-gray;
      height: 35px;
      left: 94%;
      border-radius: 0px 10px 10px 0px;
      border-right: solid 1px gray;
      border-top: solid 1px gray;
      border-bottom: solid 1px gray;
      pointer-events: none;

      &:before {
        border-left: solid 1px lightgrey;
        content : "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 1px;
      }

      i {
        left: 30%;
        top: 12px;
      }
    }
  }

  .select-icon {
    color: white;
  }

  .participants-wrapper {
    margin-top: 2.5%;
    margin-left: 2%;
    font-family: "Open Sans";
    font-size: 18px;
  }

  .table-wrapper {
      background-color: $light-gray;
      min-height: 225px;
      border-radius: 10px;
  }

  .table-search {
    font-family: "Open Sans";
    border-radius: 8px;
    border-width: 1px;
    border-color: $leaderboard-ship-grey;
    border-style: solid;
    font-style: italic;
    width: 100%;
    height: 35px;
    background-image: url('../assets/img/search.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 10px 9px;
    text-align: left;
    text-indent: 30px;
    font-style: normal;
  }

  .table-photo {
      border-radius: 50%;
      width: 50px;
      height: 50px;
  }

  .table-add-group-points {
    tr {
      background-color: $light-gray;
    }
  }

  .btn-modal {
    margin-left: 25%;
    width: 50%;
    margin-top: 30px;
  }

}
