<div id="add-group-points">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" close-modal>&times;</a>
    <h1 class="modal-header-text">Add Group Points</h1>
    <h1 class="divider"></h1>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="rail-select">
          <div class="select-side">
            <i class="glyphicon glyphicon-menu-down select-icon"></i>
          </div>
          <select class="form-control" title="Activity">
            <option ng-repeat="activity in vm.activities">{{activity}}</option>
          </select>
        </div>
      </div>
      <div class="row participants-wrapper">
        <p>Participants</p>
      </div>
      <div class="row">
        <input class="table-search" ng-model="search" type="text" placeholder="Search">
      </div>
      <div class="row table-wrapper">
        <table id="main-table" class="table table-add-group-points">
          <tbody>
            <tr class="table-tr-add-group" ng-repeat="employee in vm.employees | filter: search | limitTo:3">
              <td class="table-td-photo col-md-2">
                <img src={{employee.photo}} class="table-photo"/>
              </td>
              <td class="table-td-info col-md-4">
                <span class="table-text-name">{{employee.name}}</span>
                <span class="table-text-position">{{employee.position}}</span>
              </td>
              <td colspan="6"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-modal">
        <button type="button" class="btn-lg btn-success btn-block modal-button">Add</button>
      </div>
    </div>
  </div>
</div>
