@import '../../../core/colors';

#add-points {
  .modal-header-text {
    margin: 10px;
    font-family: "Open Sans";
    font-size: 40px;
    color: $leaderboard-gray;
    padding-left: 10%;
  }

  .rail-select {
    width: 100%;

    select {
      cursor: pointer;
      border: solid 1px grey;
      border-radius: 10px;
      font-size: 16px;
      color: gray;
      height: 42px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      &:focus {
        outline: none;
        box-shadow: none;
        border: solid 1px grey;
      }
    }

    .select-side {
      width: 40px;
      position: absolute;
      top: 0px;
      background-color: $leaderboard-gray;
      height: 28%;
      left: 90%;
      border-radius: 0px 10px 10px 0px;
      border-right: solid 1px gray;
      border-top: solid 1px gray;
      border-bottom: solid 1px gray;
      pointer-events: none;

      &:before {
        border-left: solid 1px lightgrey;
        content : "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 1px;
      }

      i {
        left: 30%;
        top: 12px;
      }

    }
  }

  .select-icon {
    color: white;
  }

  .divider {
    width: 100%;
  }

  .modal-header {
    border-bottom: 0px;
  }

  .btn-modal {
    margin-top: 50px;
  }
}
