<div id='add-points'>
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" close-modal>&times;</a>
    <h1 class="modal-header-text">Add Points</h1>
    <h1 class="divider"></h1>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="form-group">
            <div class="rail-select">
              <div class="select-side">
                <i class="glyphicon glyphicon-menu-down select-icon"></i>
              </div>
              <select class="form-control" title="Activity" 
                    ng-options="activity.name for activity in vm.activities" 
                    ng-model="vm.activity">            
            </select>
            </div>
            <div class="btn-modal">
              <button type="button" class="btn-lg btn-success btn-block modal-button" 
              ng-click="vm.addPointsByParticipation()" >Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
