<div id="delete-activity">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" close-modal>&times;</a>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <p class="text-center paragraph">Do you want to delete this activity?</p>
      <div class="col-md-6">
        <button class="btn-lg btn-block modal-button modal-button-confirm" ng-click="vm.deleteActivity()">Delete</button>
      </div>
      <div class="col-md-6">
        <button class="btn-lg btn-block modal-button modal-button-deny" close-modal>Cancel</button>
      </div>
    </div>
  </div>
</div>
