@import '../core/colors';

#presentation {
  cursor: default;
  
  h3 {
    color: white;
    font-size: 150%;
    font-weight: bold;
    margin-top: 10px;
  }
 
  h4 { 
    font-size: 150%;
  
  }

  .left-container {
    margin-left: 12%;
  }

  .silver-frame {
    object-fit: cover;
    width:200px;
    height:200px;
    margin-top: 19%;
    border-color: $leaderboard-silver;
    border-style: solid;
    border-width: 10px;
  }

  .golden-frame {
    object-fit: cover;
    width:230px;
    height:230px;
    margin-top: 0%; 
    border-color: $leaderboard-gold-tips;
    border-style: solid;
    border-width: 10px;
  }

  .bronze-frame {
    object-fit: cover;
    width:200px;
    height:200px;
    margin-top: 17%;
    border-color: $leaderboard-raw-sienna;
    border-style: solid;
    border-width: 10px;
  }

  .element-center {
    left: 50%;
    transform: translateX(-50%);
  }

   .small-frame {
    margin: auto;
    object-fit: cover;
    width: 65px;
    height: 65px;
    border-color: $leaderboard-orange;
    border-style: solid;
    border-width: 2px;
  }

  .top-data {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;

    .position-container {
      position: absolute;
      height: 35px;
      width: 70px;
      border-radius: 90px 90px 0 0;
      background: #858484;
      bottom: 85%;

      &.gold {   
        bottom: -14px;
        background: $leaderboard-gold-tips;    
        z-index: 1;
      }
      &.silver {
        background: $leaderboard-silver;
      }
      &.bronze {
        background: $leaderboard-raw-sienna;
       
      }
      
    }

    .name-frame {
      border-radius: 5em;
      border-style: solid;
      border-width: 5px;
      color: white;

      &.gold {
        font-weight: bold;
        position: absolute;
        background-color: $leaderboard-gold-tips;
        border-color: $leaderboard-gold-tips;
        width: 75%;
      }

      &.silver {
        margin-left: 15%; 
        width: 70%;
        background-color: $leaderboard-silver;
        border-color: $leaderboard-silver;
      }

      &.bronze {
        margin-left: 15%; 
        width: 70%;
        background-color: $leaderboard-raw-sienna;
        border-color: $leaderboard-raw-sienna;
      }
    }

    .employee-points {
      font-weight: bold;  
      position: absolute;
      bottom: 0;
      top: 0;
      margin-top: 16%;
    }

  }
    

  .ranking-footer {
    background-color: $leaderboard-curious-blue;
    width: 100%;
    margin: 0;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    height: 10em;
    text-align: center;

    employee {
      margin-top: 2%;
      display: inline-block;
      text-align: left;
      width: 13.45%;
      margin-left: 0;
      top: 19%;
      text-align: center;

      .employee-position {
        font-size: 1.1em;
        color: white;
        background-color: $leaderboard-orange;
        height: 17%;  
        width: 24px;
        margin: 0 auto -8px;
        border-radius: 100%;
        position: relative;
        z-index: 1;
      }

      p {
        color: white;
      }
    }
  }
}
