<div id="presentation">
  <top-list class="row">
    <div class="col-md-3 left-container">
      <img class="img-circle silver-frame center-block" ng-src="{{vm.employees[1].photoUrl}}">
      <div class="top-data">
        <div class="position-container element-center silver"><h3 class="text-center">2</h3></div>
        <h4 class="text-center name-frame silver">{{vm.employees[1].name}} {{vm.employees[1].lastName}}</h4>
        <h4 class="text-center">{{vm.employees[1].totalPoints}}</h4>
      </div>
    </div>
    <div class="col-md-3">
      <img class="img-circle golden-frame center-block" ng-src="{{vm.employees[0].photoUrl}}">
      <div class="top-data">
        <div class="position-container element-center gold"><h3 class="text-center">1</h3></div>
        <h4 class="text-center element-center name-frame gold">{{vm.employees[0].name}} {{vm.employees[0].lastName}}</h4>
        <h4 class="text-center element-center employee-points">{{vm.employees[0].totalPoints}}</h4>
      </div>
    </div>
    <div class=" col-md-3">
      <img class="img-circle bronze-frame center-block" ng-src="{{vm.employees[2].photoUrl}}">
      <div  class="top-data">
        <div class="position-container element-center bronze"><h3 class="text-center">3</h3></div>
        <h4 class="text-center name-frame bronze">{{vm.employees[2].name}} {{vm.employees[2].lastName}}</h4>
        <h4 class="text-center">{{vm.employees[2].totalPoints}}</h4>
      </div>
    </div>
  </top-list>
  <div class="row ranking-footer">
    <employee ng-repeat="employee in vm.employees.slice(3, 10)">
        <p class="employee-position"> {{ $index + 4 }} </p>
        <img class="img-responsive img-circle small-frame" ng-src="{{employee.photoUrl}}"/>
        <p> {{ employee.name }} {{ employee.lastName }}</p>
    </employee>
  </div>
</div>
