$light-gray: #e5e5e5;
$leaderboard-gray: #878787;

$leaderboard-gold-frame: linear-gradient(to right, #daa520 0%, #eed490 100%), linear-gradient(to bottom, #daa520 0%, #eed490 100%);
$leaderboard-curious-blue: #468ECC;
$leaderboard-tahiti-gold: #EC6326;
$leaderboard-ship-grey: #585857;
$leaderboard-saffron: #F0C236;
$leaderboard-oasis: #FAEBBD;
$leaderboard-lily: #B3AFB0;
$leaderboard-whisper: #E6E5E5;
$leaderboard-christine: #BB622F;
$leaderboard-dust-storm: #E9CBBB;
$leaderboard-snow: #f9f9f9;
$leaderboard-danube: #598bce;
$leaderboard-orange: #e76427;
$leaderboard-fern: #5cb85c;
$leaderboard-white: #ffffff;
$leaderboard-silver: #c5c4c4;
$leaderboard-gold-tips: #e6ae20;
$leaderboard-raw-sienna: #cd7e42;
